language: python

python:
    - "3.6"

install:
    # - wget -qO- https://api.github.com/repos/gohugoio/hugo/releases/latest | sed -r -n '/browser_download_url/{/Linux-64bit.deb/{s@[^:]*:[[:space:]]*"([^"]*)".*@\1@g;p}}' | xargs wget
    - wget https://github.com/gohugoio/hugo/releases/download/v0.45/hugo_0.45_Linux_64bit.deb
    - sudo dpkg -i hugo*.deb
    - pip install Pygments
    - rm -rf docs 2> /dev/null
    - npm install -g postcss-cli
    - npm install -g bulma
    - mkdir -p content
    - mkdir -p docs

script:
    - hugo
    - cp CNAME docs

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  email: $GITHUB_EMAIL
  name: $GITHUB_USERNAME
  verbose: true
  keep-history: true
  local-dir: .
  target_branch: master