<p>La confidencialidad de sus datos personales es un aspecto fundamental para nosotros. Esta política está dirigida a explicar cómo y para qué propósitos utilizamos la información recopilada sobre usted a través de la página Web. Se ruega que lea atentamente este documento de Política de Privacidad. Al hacer uso de la Web y de los servicios que en ella se ofrecen, acepta quedar vinculado por las condiciones de la presente Política de Privacidad con respecto a la información recopilada acerca de usted a través de la Web.</p>

<p>En caso de duda o pregunta en relación a la presente política, no dude en ponerse en contacto con nosotros telefonando al 630239408</p>

<H2>USO DE LA INFORMACIÓN</H2>

<p>La información que usted facilita no será utilizada para ninguna actividad interna y será borrada de nuestros sistemas 7 dias despues de ser recibida.</p>


<H2>PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</H2>

<p>La información recibida por TARTESSOS INTERNATIONAL BUSINESS SL a través de la presente página Web será tratada con la máxima reserva y confidencialidad conforme a la normativa vigente.</p>

<p>En cumplimiento con lo dispuesto en la vigente normativa de protección de datos de carácter personal (LOPD) TARTESSOS INTERNATIONAL BUSINESS SL informa al usuario que los datos personales que pueda facilitar a través de esta página Web son incorporados en ficheros titularidad de TARTESSOS INTERNATIONAL BUSINESS SL con las finalidades indicadas.</p>

<p>Derechos de acceso, rectificación, cancelación y oposición de TARTESSOS INTERNATIONAL BUSINESS SL, entidad destinataria y poseedora de los datos, se compromete a respetar y facilitar el ejercicio de los derechos de acceso, rectificación, cancelación y oposición que legalmente correspondan. Para ejercitar estos derechos, y para cualquier aclaración, el titular de los datos puede dirigirse mediante comunicación escrita a TARTESSOS INTERNATIONAL BUSINESS SL.</p>

<p>Seguridad en el tratamiento, proceso informático y custodia de datos TARTESSOS INTERNATIONAL BUSINESS SL declara y garantiza que ha establecido todos los medios técnicos a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos facilitados por los usuarios, sin perjuicio de informar que las medidas de seguridad en Internet no son inexpugnables.</p>

<H2>ENLACES CON PÁGINAS WEB AJENAS</H2>

<p>No nos hacemos responsables de las políticas de privacidad o prácticas de páginas Web ajenas incluso cuando el enlace haya sido proporcionado por nuestra propia página. Recomendamos vehementemente que se lea con atención la política de cada página Web por la que navega y se ponga en contacto con el propietario o responsable en caso de duda o pregunta.</p>

<p>Asimismo, si obtiene el enlace a nuestra página Web a través de una página ajena, no nos hacemos responsables de la política de privacidad o prácticas de dicha página. Recomendamos que se lea con atención la política de dicha página y que se ponga en contacto con el propietario o responsable en caso de duda o pregunta.</p>

<H2>CONTÁCTENOS</H2>

<p>Si desea contactar con nosotros para posibles sugerencias o comentarios acerca de nuestra Política de Privacidad o sus datos personales, puede llamarnos al 630239408.</p>